@charset "UTF-8";

@font-face {
    font-family: 'Gentium Basic', serif;
    src: url("https://fonts.googleapis.com/css?family=Gentium+Basic&display=swap");
}





#TexteNuage {
	
	font-size: 1.8em;
	
	text-transform: uppercase;
	
    color:#fff;
	
}


 
